# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/

# Distribution / build
build/
dist/
*.egg-info/